body{
  background: url(https://miro.medium.com/v2/resize:fit:5120/1*GsImz-edoeuqCMfKxDus0w.jpeg);
  background-size: cover;
  height: 100vh;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-box{
  border: 2px solid azure;
  padding: 20px 50px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: azure;
}
.menu-container{
  display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 60px;
    max-width: 700px;
    width:100%;
   padding: 30px;
   margin-top: 30px;

}
.menu-container Button{
  margin-right:30px;
}

.menu-container Button:hover{
  background-color: #ffc107;
}