body{
  background: url(https://miro.medium.com/v2/resize:fit:5120/1*GsImz-edoeuqCMfKxDus0w.jpeg);
  background-size: cover;
  height: 100vh;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-box{
  border: 2px solid azure;
  padding: 20px 50px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: azure;
}